.jumbotron {
    background-image: url("../Images/lifelinecs/Untitled_Artwork\ 2.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.display-4 {
    color:transparent;
    font-size: 5px;
}

.lead {
    color: transparent;
}

.navbar{
    font-family:'PT Sans Narrow', sans-serif;
    font-size: 22px;
}

.dropdown-menu {
    background-color: #eeeeeeff;
    opacity: 0.95;
}

.studyHeading {
    font-size: 60px;
    text-align: center;
    font-weight: 700;
}

.headText {
    text-align: center;
    font-family:'PT Sans Narrow', sans-serif;
    font-size: 22px;
}

.infoText {
    font-family:'PT Sans Narrow', sans-serif;
    font-size: 20px;
}

.inforightText {
    font-family:'PT Sans Narrow', sans-serif;
    font-size: 20px;
    float: right;
}

.infoleftText {
    font-family:'PT Sans Narrow', sans-serif;
    font-size: 20px;
    float: left;
}

.bannerText {
    font-family:'PT Sans Narrow', sans-serif;
    font-size: 20px;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 30px;
}

h1,h2,h3,h4,h5,h6 {
    font-family:'Amatic SC', cursive;
}

.textContainer {
        display: flex;
        margin-top: 50px;
    
    }


.leftText {
        float: left;
        font-family:'PT Sans Narrow', sans-serif;
        font-size: 18px;
        width: 50%;
        padding:3%;
        margin-left: 5%;
        
    }
    
.rightText {
        float: right;
        font-family:'PT Sans Narrow', sans-serif;
        font-size: 18px;
        width: 50%;
        padding:3%;
    }

.overView {
    display: flex;
    background-color: #674ea7ff;
    margin-top: 50px;
}

.match{
    margin-right: 2%;
}

.scope {
    width: 100%;
    align-content: center;
    max-height: 400px;
    padding-right: 10px;
    padding-left: 10px;
}

.define {
    display: flex;
    padding: 2%;

}

p {
    font-family: 'PT Sans Narrow', sans-serif;
}

.solution {
    width: 100%;
    padding-right: 3%;
    padding-left: 3%;
}

.centerText {
    text-align: center;
    margin-top: 40px;
    font-size: 70px;
    font-weight: 500;
}

.problemSolved {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    justify-content: center;
    background-size: contain;
    align-content: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.sectionHead {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 28px;
}

.define {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    display: flex;
}

.definition {
  width: 50%;
  flex: 1;
}

.defineImg {
  width: 50%;
  height: auto;
  float:right;  
  margin-top: 20px;
  flex: 1;
  max-width: 350px;
}

.section{
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    justify-content: center;
    background-size: contain;
    align-content: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
        
    }
}

h2{
    text-align: center;
}



.wrapper {
    display:flex;
    padding:2%;
}



.imgRight {
  
    display: flex;
    width: 90%;
    float: right;
    flex:1;
    padding: 3%;
    max-width: 500px;
    background-size: 100% auto;
}

.imgLeft {
    display: flex;
    width: 90%;
    float: left;
    flex:1;
    padding: 3%;
    max-width: 500px;
    background-size: 100% auto;
}

.sectionHead{
    text-align: center;
    font-size: 45px;
    margin-top: 40px;
}

.projectHighlights{
    flex: 1;
    justify-content: right;
    width: 50%;
    display: flex;

}

.ul {
    font-family:'PT Sans Narrow', sans-serif;
    font-size: 25;
    padding: 5%;
}

.banner {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

#insight {
    margin-top: 20%;
}

footer {
    background-color: #f2f2f2;
    opacity:.80;
    vertical-align: bottom;
    text-align: right;
    color: #ffffff;
    width: auto;
    height: 300px;
    padding: 1%;
    font-size: 20px;
    position: center;}

footer a {
    color: #ffffff;}

.footerContent {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

.bottomLogo {
    display: block;
    flex: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
}

    

@media screen and (max-width: 600px) {
    .define {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 25px;
        display: flex;
    }
    
    .definition {
      width: 100%;
    }
    

  

}
@media screen and (max-width: 850px) {
    .imgRight {
  
        display: flex;
        width: 100%;
        flex:1;
        padding: 3%;
        max-width: 300px;
        background-size: 100% auto;
        justify-content: center;
    }
    
    .imgLeft {
        display: flex;
        width: 100%;
        flex:1;
        padding: 1px;
        max-width: 300px;
        background-size: 100% auto;
        justify-content: center;
    }

    .wrapper {
        display: flex;}
    }