.jumbotron {
    background-image: url("../Images/lifelinecs/Untitled_Artwork\ 2.png");
    background-size: cover;
    background-repeat: no-repeat;}

.display-4 {
    color:transparent
}

.lead {
    color: transparent;
}

.navbar{
    font-family:'PT Sans Narrow', sans-serif;
    font-size: 22px;
}

.dropdown-menu {
    background-color: #eeeeeeff;
    opacity: 0.95;
}

.studyHeading {
    font-size: 90px;
    text-align: center;
    font-weight: 700;
}

.headText {
    text-align: center;
    font-family:'PT Sans Narrow', sans-serif;
    font-size: 22px;
}

.infoText {
    font-family:'PT Sans Narrow', sans-serif;
    font-size: 20px;
}

h1,h2,h3,h4,h5,h6 {
    font-family:'Amatic SC', cursive;
}

.textContainer {
        display: flex;
        margin-top: 50px;
    
    }


.leftText {
        float: left;
        font-family:'PT Sans Narrow', sans-serif;
        font-size: 20px;
        width: 50%;
        margin-left: 150px;
        
    }
    
.rightText {
        float: right;
        font-family:'PT Sans Narrow', sans-serif;
        font-size: 20px;
        width: 50%;
        margin-right: 100px;
    }

.overView {
    display: flex;
    background-color: #674ea7ff;
    margin-top: 50px;
}

.centerText {
    text-align: center;
    margin-top: 40px;
    font-size: 70px;
    font-weight: 500;
}

.problemSolved {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    justify-content: center;
    background-size: contain;
    align-content: center;
    margin-left: 25%;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.sectionHead {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
}

.define {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
    display: flex;
}

.definition {
    float: left;
  width: 50%;
}

.defineImg {
  width: 50%;
  float:right;  
  margin-top: 150px;
}

.section{
    display: flex;
    margin-left: 50px;

}

h2{
    text-align: center;
}


.sectionHead{
    text-align: center;
    font-size: 45px;
    margin-top: 40px;
}

.banner{
    margin-left: -50px;
}
    